# Dependencias de Node (No se suben porque se regeneran con 'npm install')
node_modules/
npm-debug.log*

# Variables de entorno y llaves secretas (CRÍTICO - Evita exponer tu API Key de Gemini)
.env
.env.local

# Autenticación y Sesión activa de WhatsApp Web (MUY CRÍTICO - Evita que te roben la sesión)
.wwebjs_auth/
.wwebjs_cache/

# Archivos de estado dinámico generado en tiempo de ejecución
config/estado_ausencia.json
config/infografias_enviadas.json
config/usuarios_atendidos.json
config/clientes.json
config/ignorados.json

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos generados y subidos por el cliente desde el panel
documentos/
imagenes/
config/config.json
database.sqlite
*.db
data/
*service_account*.json
credentials*.json

