node_modules/
.wwebjs_auth/
.wwebjs_cache/
.env
*.log
.DS_Store
pacientes.json
infografias_enviadas.json
vacaciones.json
pausas.json

# Archivos generados y subidos por el cliente desde el panel
documentos/
imagenes/
config/config.json
database.sqlite

# Archivos generados y subidos por el cliente desde el panel
documentos/
imagenes/
config/config.json
database.sqlite
